*{
    margin: 0;
    padding: 0;
}
.paralax{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
}
.paralax__text-layer{
    position: absolute;
    width: 500px;
    text-align: center;
    z-index: 9999;
    top:40%;
    left:30%;
    right:50%;
}
.paralax__text__subtitle{
    position: absolute;
    width: 500px;
    text-align: center;
    z-index: 9999;
    top:50%;
    left:30%;
    right:50%;
}
.first-layer{
    width: 100%;
    position: absolute;
    z-index: 999;
    
}
.second-layer{
    width: 100%;
    position: absolute;
    z-index: 999;
}
.third-layer{
    width: 100%;
    position: absolute;
    z-index: 99;
    object-fit: cover;
}
.fourth-layer{
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 9;
}