*{
    color:white;
}
/* ////////////АДАПТИРОВАТЬ//////////// */
.about{
    margin: 0;
    padding: 0;
    padding-top: 600px;
    background-color: #5B9BD5;
}
.main__hero__banner{
    width: 80%;
    margin: 10px auto 0;
    padding: 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: #0A2D5F;
}
.main__hero__banner__photo-and__discription{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.main__hero__banner__photo{
    border-radius: 15px;
}
.main__hero__banner__discription__title{
    margin-top: 50px;
    text-align: center;
}
.main__hero__banner__discription__faq,.main__hero__banner__discription__way{
    margin-top: 25px;
}
/* ////////////////////////////////////////// */